<fieldset style="margin-top: 50px">
    <legend>
        @Html.ActionLink("Register", "Register", "Account") if you don't have a local account.
    </legend>
</fieldset>

<div style="margin-top: 30px;">
    <span>It's even possible log in using any of the following social networks.</span>
    <p style="padding:10px">
        <a href="@Url.Action("twitter", "login")" class="btn btn-primary btn-lg">
            Log in with
            <img src="@Url.Content("~/content/images/main/twitter.png")" />
        </a>
        &nbsp;&nbsp;&nbsp;
        <a href="@Url.Action("fb", "login")" class="btn btn-primary btn-lg">
            Log in with
            <img src="@Url.Content("~/content/images/main/facebook.png")" />
        </a>
    </p>
</div>



